.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-title {
    color: black;
    text-align: center;
}

.title-info {
    background-color: var(--color2);
    height: 50px;
    padding-top: 10px;
}

.text-infoA {
    color: white;
}
