@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title" style="color: white;">Sobre nosotros</h2>
    <h3 style="color: white;">Intronix S.A</h3>
    <p style="color: white;">
    Ingeniería Autotronix S.A. es una empresa dedicada al diagnóstico y reparación de computadoras y paneles electrónicos automotrices. Con más de 15 años de experiencia, brindamos un servicio de calidad gracias a equipo de tecnología de punta y contamos con ingenieros en electrónica, electromecánica y técnicos.

    Le ofrecemos servicio de mensajería para recoger en San José, Heredia, Alajuela, y además encomiendas para todo el país.

    También brindamos soporte a nuestros clientes por medio de consultas técnicas y diagramas eléctricos.
    </p>
    <p style="color: white;">
    Intronix es una empresa con más de 18 años de experiencia en el diagnóstico y reparación de computadoras y paneles de instrumentos automotrices.

    </p>
    <p style="color: white;">
    Le ofrecemos servicio de mensajería para recoger en San José, Heredia, Alajuela, y además encomiendas para todo el país.

    También brindamos soporte a nuestros clientes por medio de consultas técnicas y diagramas eléctricos.
    </p>
        <div class="card-group">
            <div class="card">
                <img src="~/Content/imgs/edificio (3).jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sede Principal</h5>
                    <p class="card-text">En donde se diagnostica y repara cada equipo.</p>
                </div>

            </div>
            <div class="card">
                <img src="~/Content/imgs/Personal.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tecnicos y Personal</h5>
                    <p class="card-text">Contamos con un personal altamente capacitado para resolver tus dudas y problemas en el vehiculo.</p>
                </div>

            </div>
            <div class="card">
                <img src="~/Content/imgs/Tecnicos.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Equipo de Diagnostico</h5>
                    <p class="card-text">Contamos contamos con gran variedad de equipos de diagnostico para desarrollar nuestra maestria en diagnostico de equipos electronicos.</p>
                </div>

            </div>
        </div>

        <br /><br />
        <h3 style="color: white;">Localizanos</h3>
    <p style="color: white;">Nuestra sede se encuentra en San Rafel de Oreamuno de Cartago.</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3930.851100721484!2d-83.90728758756237!3d9.862856990194931!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0df3729cb9589%3A0xf25d612882b15c0e!2sINTRONIX%20CR!5e0!3m2!1ses!2scr!4v1709253132482!5m2!1ses!2scr" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</main>