@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">Contactenos</h2>

    <address>
        Costa Rica<br />
        Sedes en San José Escazú, Cartago, Heredia Centro<br />
        <abbr title="Phone">Teléfono</abbr>
        2265-7898
    </address>

    <h2>Siguenos en nuestras redes sociales</h2>
    <h5>Weston Escuela de cocina</h5>
</main>