@using System.Security.Claims;
@{
    ViewBag.Title = "Bienvenido";
}

@Styles.Render("~/Content/cssIndexHome")

@if (User.Identity.IsAuthenticated)
{

    @* saca el usuario actual junto con sus identidades *@
    var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;
    @* Se saca el rol y si no lo tiene se asigna uno *@
    var roleOfUser = claimsIdentity != null ? claimsIdentity.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Role).Value : "Estudiante";


    if (roleOfUser == "Admin")
    {

        <h3>Administración</h3>
        <hr />

    }
    else if (roleOfUser == "Empleado")
    {
        <h3>Bienvenidos Empleados Intronix</h3>
        <hr />


        <div class="container">
            <div class="row">

                <div class="col-sm-6">
                    <div class="card mb-4" style="width: 18rem;">
                        <img src="~/Content/imgs/Presentacion.png" class="card-img-top" alt="Imagen de mis recetas">
                        <div class="card-body">
                            <h5 class="card-title">Recetas</h5>
                            <p class="card-text">Explora todas las recetas creadas.</p>
                            @Html.ActionLink("Ir a mis recetas", "Index", "Recetas", new { area = "" }, new { @class = "btn btn-light" })
                        </div>
                    </div>
                </div>

            </div>
        </div>


    }
    else if (roleOfUser == "Cliente")
    {

        <h3>Bienvenidos Cliente Intronix</h3>
        <hr />

        <div class="container">
            <div class="row">

                <div class="col-sm-6">
                    <div class="card mb-4" style="width: 18rem;">
                        <img src="~/Content/imgs/Presentacion.png" class="card-img-top" alt="Imagen de mis recetas">
                        <div class="card-body">
                            <h5 class="card-title">Mis Recetas</h5>
                            <p class="card-text">Explora un mundo de sabores y crea tus propias recetas.</p>
                            @Html.ActionLink("Ir a mis recetas", "Index", "Recetas", new { area = "" }, new { @class = "btn btn-light" })
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card mb-4" style="width: 18rem;">
                        <img src="~/Content/imgs/CursosL.jpg" style="height:191px;" class="card-img-top" alt="Imagen mis cursos">
                        <div class="card-body">
                            <h5 class="card-title">Cursos</h5>
                            <p class="card-text">Accede a tus cursos.</p>
                            @Html.ActionLink("Ir a mis cursos", "Index", "Cursoes", new { area = "" }, new { @class = "btn btn-light" })
                        </div>
                    </div>
                </div>

            </div>
        </div>

    }
    else
    {
        <h3>Usuario Invitado</h3>
        <hr />
    }
}
else
{
    //Presentacion
    <div class="card text-bg-dark">
        <img src="~/Content/imgs/Presentacion1.png" class="card-img" alt="...">
        <div class="card-img-overlay text-center">
            <h1 class="card-title font-weight-bold text-center">Bienvenidos a INTRONIX: Expertos en tecnologia Automotriz</h1>
        </div>
    </div>

    // Cursos
    <br />
    <br />
    <div class="container-fluid title-info">
        <h5 class="text-center text-infoA">Cursos completos</h5>
    </div>
    <br />
    <br />

    <div class="card mb-3 mx-auto" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="~/Content/imgs/CursosL.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Variedad de cursos culinarios</h5>
                    <p class="card-text">Aprenderás con nosotros diversas técnicas, en diversos horarios para tu mayor comodidad.</p>
                </div>
            </div>
        </div>
    </div>

    // Profesores
    <br />
    <br />

    <div class="container-fluid title-info">
        <h5 class="text-center text-infoA">Personal de calidad</h5>
    </div>
    <br />
    <br />

    <div class="card-group">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Profesores con mas de 4 años de experiencia</h5>
                <p class="card-text">"Agradecido de formar parte del equipo y ser mentor de esta escuela".</p>
                <p class="card-text"><small class="text-body-secondary">Marco Antonio -Profesor de la escuela.</small></p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Atención a estudiantes</h5>
                <p class="card-text">Contáctanos por nuestras redes sociales.</p>
                <p class="card-text"><small class="text-body-secondary"></small></p>
            </div>
        </div>
    </div>

    //Info
    <br />
    <br />
    <div class="card">
        <div class="card-header title-info text-infoA">
            ¿Cómo matriculo?
        </div>
        <div class="card-body">
            <h5 class="card-title">Ponte en contacto con nosotros através de nuestras redes sociales</h5>
            <p class="card-text">También pudes visitar nuestras sedes en San José, Cartago y Heredia.</p>
        </div>
    </div>
}
