@{
    ViewBag.Title = "Configurar Arduino";
}

<div class="container">
    <div class="row">
        <!-- Columna izquierda para el formulario -->
        <div class="col-md-6">
            <h2 style="color: white;">Configurar Arduino</h2>

            @using (Html.BeginForm("UpdateArduinoSettings", "Module", FormMethod.Post))
            {
                <div class="form-group">
                    <label for="limite" style="color: black;">Límite de Velocidad:</label>
                    <input type="number" class="form-control" id="limite" name="limite" required>
                </div>
                <div class="form-group">
                    <label for="umbral" style="color: black;">Umbral:</label>
                    <input type="number" class="form-control" id="umbral" name="umbral" required>
                </div>
                <div class="form-group">
                    <label for="FC" style="color: black;">Factor de Conversión:</label>
                    <input type="number" class="form-control" id="FC" name="FC" step="0.01" required>
                </div>
                <div class="form-group">
                    <label for="SetMAF" style="color: black;">Valor de MAF:</label>
                    <input type="number" class="form-control" id="SetMAF" name="SetMAF" step="0.01" required>
                </div>
                <div class="form-group">
                    <label for="delayT_In" style="color: black;">Retardo de Entrada (ms):</label>
                    <input type="number" class="form-control" id="delayT_In" name="delayT_In" required>
                </div>
                <div class="form-group">
                    <label for="delayT_Out" style="color: black;">Retardo de Salida (ms):</label>
                    <input type="number" class="form-control" id="delayT_Out" name="delayT_Out" required>
                </div>
                <div style="margin-top: 10px; margin-bottom: 10px;">

                    <button type="submit" class="btn btn-primary" style="color: white;">Guardar</button>
                </div>
            }
        </div>

        <div class="col-md-6">
            <h2 style="color: black; margin-top: 20px;">Descripción de Variables</h2>
            <p style="color: black; margin-bottom: 20px;"><strong>Límite de Velocidad:</strong> Descripción del límite de velocidad.</p>
            <p style="color: black; margin-bottom: 20px;"><strong>Umbral:</strong> Descripción del umbral.</p>
            <p style="color: black; margin-bottom: 20px;"><strong>Factor de Conversión:</strong> Descripción del factor de conversión.</p>
            <p style="color: black; margin-bottom: 20px;"><strong>Valor de MAF:</strong> Descripción del valor de MAF.</p>
            <p style="color: black; margin-bottom: 20px;"><strong>Retardo de Entrada (ms):</strong> Descripción del retardo de entrada.</p>
            <p style="color: black; margin-bottom: 20px;"><strong>Retardo de Salida (ms):</strong> Descripción del retardo de salida.</p>
        </div>
    </div>
</div>